@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> PlayStation Home - Surface Support Frontend (SSF) is a open source ASP.NET web app designed to make managing, and editing parts of PlayStation Home a breeze!<br/>
        Current tools include but aren't limited to the following:<a href="#"></a>
        - Data Capture Analysis
        - Title Small Storage Config Editor
        - Grief Report (WIP)</a>.</p>
</div>
