@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is will be the landing page to display more services and features as this gets fleshed out!</a>.</p>
</div>
